*{  text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Avenir LT Std';
}
.main-grid {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: fit-content(319px) 1fr;
    grid-template-areas:
      's h'
      's t'
      's t'
      's t'
      's f'
      's b';
}
.header{
    grid-area: h;
}
.footer{
    grid-area: f;
}
.side-menu {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    grid-area: s;
    background-color: #222222;
    padding-left: 10px;
    padding-right: 10px;
}
.logo-burger{
    display: flex;
    max-width: 259px;
    width: 100%;
    margin-top: 42px;
    margin-bottom: 106px;
    justify-content: space-between;
    align-content: center;
}
.home-btn{
    width: 259px;
    background-color: #FF2288;
    border-radius: 12px;
    height: 60px;
    align-items: center;
    display: flex;
    margin-bottom: 33px;
}
.li-rest{
    margin-top: 51px;
}
.iu,a{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    align-items: center;
    align-content: center;
    color: #FFFFFF;
    font-size: 16px;
}
a:hover{
    font-size: 30px;
}
.nav-icon{
    margin-right: 15px;
}
.followers{
    color: #FFFFFF;
    padding-left: 30px;
    margin-top: 87px;
    width: 259px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 50px;
}
.f-img{
    margin-right: 20px;
}
.f-a{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 15px;
}
.follow{
    margin-bottom: 31px;
    font-size: 12px;
}
.load{
    margin-top: 20px;
    margin-bottom: 42px;
    font-size: 14px;
}
.header{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 30px 20px;
}
.header-update{
    display: flex;
    align-items: center;
}
.header-update span{
    color: #FF2288;
}
.header-update img {
    margin-left: 15px;
}
.header-update button{
    margin-left: 15px;
    color: #FFFFFF;
    background-color: #FF2288;
    padding: 17px 25px;
    font-size: 14px;
    border-radius: 12px;
    border: none;
}
.wrapper {
    display: flex;
    width: 100%;
    max-width: 400px;
    align-items: center;
    align-content: center;
}
.searchBar {
    position: relative;
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
#searchQueryInput {
    
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }
  #searchQuerySubmit {
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    opacity: 0.3;
    cursor: pointer;
  }
  /* -----------table style----------- */
.table{
    grid-area: t;
    border-collapse: collapse;
    text-align: left;
    margin:75px;
}
.table thead tr{
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid 1px #AFAFAF;
}
.table th,.table td{
    padding: 31px 0;
}
tbody tr{
    border-bottom: solid 1px #AFAFAF;
}
tbody td{
    font-size: 16px;
    color:#AFAFAF;
}
/* ////////////footer///////////// */
.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.footer h4{
    padding-left: 30px;
}
.footer-content{
    
    display: flex;
    flex-direction: column;
    line-height: 20px;
    
}
.footer-content a{
    color: #222222;
    font-size: 16px;
}
.footer-last{
    grid-area: b;
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
    padding: 113px 0;
    
}
.footer-last span{
    font-size: 16px;
    font-weight: bold;
    color: #222222;
}
.footer-last .foot-foot img{
    display: block;
    padding-left: 20px;
}
@media (max-width:1024px) {
    .main-grid{
        grid-template-columns: 1fr;
        grid-template-areas: 
            's'
            'h'
            't'
            'f'
            'b';
            
    }
    .side-menu nav{
        display: none;

    }
    .followers{
        display: none;
    }
    .logo-burger{
        max-width: 90%;
    }
    .th,.td{
        display: none;
    }
    
    
}